{% extends "auctions/layout.html" %}

{% block body %}
<div class="hr_title">
  <hr class="hr left">
  <div class="title">
    <h3>Listing : {{mainlist.title}}</h3>
  </div>
</div>
{%if message%}
{%if update%}
<div class="alert alert-success" role="alert">
  {{message}}
</div>
{%else%}
<div class="alert alert-danger" role="alert">
  {{message}}
</div>
{%endif%}
{%endif%}
{% if not mainlist.isActive and user == mainlist.price.user %}
<div class="alert alert-success" role="alert">
  Congratulations! You won the Auction
</div>
{%endif%}
{% if isListInWatchlist %}
<form action="{%url 'removeWatchlist' id=mainlist.id %}" method="POST">
  {%csrf_token%}
  <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
</form>
{%else%}
<form action="{%url 'addWatchlist' id=mainlist.id %}" method="POST">
  {%csrf_token%}
  <button type="submit" class="btn btn-success">Add in Watchlist</button>
</form>
{%endif%}

<div class="list">
  <img src="{{mainlist.imageUrl}}" alt="">
</div>
<p>{{mainlist.content}}</p>

<h1>${{mainlist.price.bid}}</h1>
<p></p>
{% if user.is_authenticated and mainlist.isActive %}
{% if currentUser != mainlist.seller %}
<form action="{% url 'addBid' id=mainlist.id%}" method="POST">
  {%csrf_token%}
  <input class="form-control" type="number" id="bid" name="bid" placeholder="Bid" min="0"><br>
  <button type="submit" class="btn btn-primaryy">Place Bid</button>
</form>
{%else%}
<form action="{% url 'closeBid' id=mainlist.id%}" method="POST">
  {%csrf_token%}
  <input class="form-control" type="number" id="bid" name="bid" placeholder="Bid" min="0" disabled><br>
  <button type="submit" class="btn btn-danger">Close</button>
</form>
{% endif %}
{% endif %}
<h2>Details</h2>
<ul>
  <li>Listed by: {{mainlist.seller}}</li>
  <li>Category: {{mainlist.category}}</li>
  <li>Date: {{mainlist.date_modified}}</li>
</ul>
<form action="{%url 'comment' id=mainlist.id %}" method="POST">
  {%csrf_token%}
  <label for="title">
    <h5>Comment : </h5>
  </label>
  {% if mainlist.isActive %}
  <input class="form-control" type="text" id="comment" name="comment" placeholder="Comment" maxlength="100">
  <br>
  <button type="submit" class="btn btn-primaryy">Comment</button>
  {%elif not mainlist.isActive%}
  <input class="form-control" type="text" id="comment" name="comment" placeholder="Comment" maxlength="100" disabled>
  <br>
  <button type="submit" class="btn btn-primaryy" disabled>Comment</button>
  {%endif%}
</form>
<hr>
<h1>{{maincomment.id}}</h1>
{% for comment in comments %}

<p>{%if comment.listcomment == mainlist %}</p>
<div class="comment-box">
  <div class="comment-header">
    <h3>
      <div>{{comment.usercomment}}</div>
      {%if currentUser == comment.usercomment%}
      <span class="badge badge-warning badges">You</span>
      {% endif %}
      <span class="badge badge-secondary badges">{{comment.date_commented}}</span>
    </h3>
    {%if currentUser == comment.usercomment%}
    <form action="{% url 'deletecomment' comid=comment.id reqid=mainlist.id %}" method="POST">
      {%csrf_token%}
      <button type="submit" class="btn">Delete comment</button>
    </form>

    {% endif %}
  </div>
  <p class="comment-title">{{comment.comments}}</p>
</div>

{%endif%}
{%endfor%}


{% endblock %}