{% extends "auctions/layout.html" %}

{% block body %}
<div class="hr_title">
    <hr class="hr left">
    <div class="title">
        <h3>Auctions Wins</h3>
    </div>
</div>


<div class="row mx-3">
    {% for winnerPage in winnerPages %}
    {% with list=winnerPage.winnerlist %}
    {% if not list.isActive and currentUser == list.user %}
        <div class="card mx-3" style="width: 18rem;">
            <img class="card-img-top" src="{{list.imageUrl}}" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{list.title}}</h4>
                <h6 class="card-title">${{list.price.bid}}</h6>
                <p class="card-text">{{list.description}}</p>
                {{list.date_modified}}
                <br>
                <div class="link">
                    <a href="../lists/{{list.id}}" class="btn btn-primaryy">Go to list</a>
                </div>
            </div>
        </div>
{% endif %}
{% endwith %}
{% endfor %}
</div>
{% endblock %}